*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.dropdownItem {
    text-decoration: none;
    color: white;
    padding-left: 15px;
}
section{
    padding: 40px 15%;
}
.contact{
background: black;
height: 100%;
width: 100%;
min-height: 100vh;
display: flex;
grid-template-columns: repeat(2 ,2fr);
align-items: center;
grid-gap: 4rem;
}
.contact-img {
    background-color: transparent;
    width: 652px;
    display: grid;
}
.contact-img  img{
    max-width: 100%;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    padding-top: 15px;
}
.img h6{
    color: #fff;
}
/* .Efty{
    width: 300px;
    padding-left: 15px;
}
.Efty h6{
    color: #fff;
} */
.contact-form{
    width: 500px;
    font-family: 'Josefin Sans', sans-serif;
}
.contact-form h1{
    font-size: 60px;
    color: white;
    /* margin-bottom: 20px; */
}
span{
    color: #f9004d;
}
.contact-form h6{
    color: #c6c9d8bf;
    
    line-height: 26px;
    font-size: 1.1.rem;
    /* margin-bottom: 2.8rem; */
}
.contact-form form{
    position: relative;
}
.contact-form form input ,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1.rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn :hover{
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
}