
body{
    ::-webkit-scrollbar {
        display: none;
    }
    }
    .drop{
      
        top: 100%;
        left: -77px;
        margin-top: var(--bs-dropdown-spacer);
      
    }
    
      span{
        color: #f9004d;
        
      }
      
      /* top-bar  nav item */
      .dropdownItem {
        position: relative;
        left: 17px;
        text-decoration: none;
        color: #fff;
      }
      .main-box{
        position: relative;
        background: url(images/b2.jpg) right no-repeat;
        background-size: cover;
        height: 92vh;
        width: 100%;
     
    }
    .main-box{
        display: flex;
        
    }
    
      #btn_detail {
        margin-bottom: 30px;
      }

      .row.g-3.align-items-center.ps-5 {
        padding-bottom: 15px;
      }
      .id.col-auto {
        padding-right: 72px;
      }
      .name.col-auto {
        padding-right: 47px;
      }
      .ad.col-auto {
        padding-right: 34px;
      }
      .cont.col-auto {
        padding-right: 37px;
      }
      .sal.col-auto {
        padding-right: 50px;
      }
      .ID.col-auto {
        margin-left: 75px;
      }
      .Name.col-auto {
        margin-left: 34px;
    }
      .Dept-ID.col-auto {
        margin-left: 74px;
      }
      .address.col-auto {
        margin-left: 98px;
      }
      .Contact.col-auto {
        margin-left: 72px;
      }
      .Designation.col-auto {
        margin-left: 44px;
      }
      .Joining-date.col-auto {
        margin-left: 39px;
      }
      .WorkingDays.col-auto {
        margin-left: 36px;
      }
      .Salary.col-auto {
        margin-left: 115px;
      }  
      .Allowance.col-auto {
        margin-left: 87px;
      }  
      .ManagerID.col-auto {
        margin-left: 37px;
      }
      .tableView {
        margin-top: 50px;
        height: 300px;
        padding-right: 158px;
        padding-top: 27px;
        overflow-y: scroll;
      }
    

      .input-edit{
        height: 25px;
      }


    #info{
      display: flex;
      flex-direction: column;
    }

    
